<!DOCTYPE html>

<html>
  <head>
    <title>calculatorController</title>
  </head>
 
  <body>   
  <div calculatorController>
    <p id="text"></p>
     <h3>Hello {{calculatorBean.number1}} + {{calculatorBean.number2}} = {{calculatorBean.add()}}</h3>
      Number1: <input type="number" ng-model="calculatorBean.number1">
      Number2: <input type="number" ng-model="calculatorBean.number2">
      Result: <input type="number" ng-model="calculatorBean.result">
      </div>
    
    <script type="application/dart" src="calculatorController.dart"></script>
    <!-- for this next line to work, your pubspec.yaml file must have a dependency on 'browser' -->
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
