<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>AngularFaces showcase 2.1.7
		(www.angularfaces.net/showcase2.1)
	</display-name>
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<!-- 
	<context-param>
		<param-name>AngularFaces.includeAngularJS</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>AngularFaces.includeJQuery</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>AngularFaces.includeJQueryUI</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>AngularFaces.includeAngularMessages</param-name>
		<param-value>false</param-value>
	</context-param>
-->
	<!-- <context-param> <param-name>AngularFaces.clientSideMessages</param-name> 
		<param-value>false</param-value> </context-param> <context-param> <param-name>AngularFaces.includeMainJS</param-name> 
		<param-value>false</param-value> </context-param> -->
	<context-param>
		<param-name>javax.faces.FACELETS_DECORATORS</param-name>
		<param-value>
            de.beyondjava.angularFaces.core.tagTransformer.AngularTagDecorator
        </param-value>
	</context-param>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsf</location>
	</error-page>
</web-app>