<!DOCTYPE html>

<html>
  <head>
    <title>calculatorController</title>
  </head>
 
  <body>   
  <div calculatorController>
    <p id="text"></p>
     <h3>Hello {{calculatorController.number1}} + {{calculatorController.number2}} = {{calculatorController.add()}}</h3>
      Number1: <input type="number" ng-model="calculatorController.number1">
      Number2: <input type="number" ng-model="calculatorController.number2">
      Result: <input type="number" ng-model="calculatorController.result">
      </div>
    
    <script type="application/dart" src="calculatorController.dart"></script>
    <!-- for this next line to work, your pubspec.yaml file must have a dependency on 'browser' -->
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
